@CHARSET "ISO-8859-1";

/*
 * Right pane: Built form elements
 */
#content {
	display: inline-block;
	padding-left:40px;
}
.form-element {
	position: relative;
	margin-bottom: 50px;
}
.edit-control {
	display: block;
}

/*
 * Left-pane: Form element selectors
 */
#selections {
	float: left;
	min-width: 256px;
	border-right: 1px solid #E1E1E1;
	padding-left: 40px;

}
.element-selector {
	background-color: #428BCA;
	color: white;
	font-size: 16px;
	width: 150px;
	padding: 10px;
	margin: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: -1px 3px 4px 0px rgba(96, 96, 96, 1);
	-moz-box-shadow:    -1px 3px 4px 0px rgba(96, 96, 96, 1);
	box-shadow:         -1px 3px 4px 0px rgba(96, 96, 96, 1);
	cursor: pointer;
}
.element-selector.is-selected, .element-selector:hover {
	background-color: #155183;
}
.element-selector.is-selected .add, .element-selector:hover .add {
	background-image: url('../images/add_hover.png');
}
.add {
	display: inline-block;
	background-image: url('../images/add_white.png');
	height: 24px;
	width: 24px;
	float: right;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*
 * Custom CSS that overrides bootstrap
 */
.label {
	color: black;
}

.template {
	display: none;
}